- content_for :subject, t('.subject')
= t('.greeting_html', addressee: @resource.email)
= t('.message_html', link: link_to(t('.link_desc'), edit_password_url(@resource, reset_password_token: @token)))

